<%= form_for @musictrack, :html => {:multipart => true} do |f| %>
  <% if @musictrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musictrack.errors.count, "error") %> prohibited this musictrack from being saved:</h2>

      <ul>
      <% @musictrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.file_field :songs %>
<% end %>
